# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
tfplan
terraform.tfvars
.terraform.lock.hcl

# Secrets
*.pem
*.key
*.crt
secrets/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.env
